.PasswordTip {
    position: absolute;
    top: 100%;
    left: -108%;
    display: flex;
    color: black;
    background-color: #b68973;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    box-shadow: 0px 2px 8px #6f5345;
    border-radius: 5px;
    list-style: none;
}

@media(max-width: 1200px){
    .PasswordTip{
        top: -300%;
        left: 50%;
        transform: translateX(-50%);
    }
}